html,
body {
    height: 100%;
    box-sizing: border-box;
    background-color: #f3f3f3;
}

#app {
    height: 100vh;
    width: 100vw;
}
:root:root {
    // 定义css变量
    --van-nav-bar-background: rgb(50, 138, 205);
    --van-nav-bar-title-text-color: white;
    --van-nav-bar-text-color: white;
    --van-nav-bar-icon-color: white;
}
